In [1]:
#setting up libraries
%matplotlib inline
#dataset: askmefi_category_year.tsv
import pandas as pd
import matplotlib.ticker as mticker

In [2]:
data = pd.DataFrame.from_csv('askmefi_category_year.tsv', sep='\t')

In [3]:
#data wrangling
categories = data.category.unique()
mydata = {}
for i in categories:
    mydata[i] = data[data.category==i]

In [5]:
mydata[categories[1]].head()

                        category     n
year
2004-01-01  computers & internet  2489
2005-01-01  computers & internet  2200
2006-01-01  computers & internet  2114
2007-01-01  computers & internet  2402
2008-01-01  computers & internet  2852